.custom-login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  /* background-color: aqua; */
  background: linear-gradient(to right bottom,  #82ffac,   #80bfff);
}

.custom-box {
  width: 400px; /* Increase width */
  padding: 40px; /* Increase padding */
  background-color: azure;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  font-size: 1.2rem; /* Increase font size */
}

.login-form h3 {
  font-size: 2rem; /* Increase header size */
}

.form-outline .form-control {
  font-size: 1.2rem; /* Increase input font size */
  padding: 10px; /* Increase input padding */
}

.btn {
  padding: 12px; /* Increase button padding */
  font-size: 1.2rem; /* Increase button font size */
}
